RewriteEngine On

# Menghilangkan ekstensi .php dari URL

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.\*)$ $1.php [L]

SetEnv USER_DB root
SetEnv PASS_DB 
SetEnv DB digicore
SetEnv HOST localhost

#CP adalah cyberpanel
SetEnv HOST_CP "https://107.173.127.182:8090"
SetEnv USER_CP "digicore"
SetEnv PASS_CP "mJl3+d2AaKlor9s9"


# Blokir akses ke file sensitif

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|sql|bak)$">
Order allow,deny
Deny from all
</FilesMatch>

# Menonaktifkan directory listing
Options -Indexes

RewriteRule ^send-message olah-data.php [L]
RewriteRule ^terjadwal terjadwal.php [L]
RewriteRule ^webhook callback.php [L]
RewriteRule ^cyberpanel/(.*) api-cyberpanel.php [L]